/jssrc/
!/*/jssrc/
.vizmetadata/
.svn
node_modules/
mBaas.properties
middleware.properties
mobileFabricServiceConfigMap.json
modules/KonySyncLib.js
modules/kony_sdk.js
modules/konymvcextns.js
.vscode/
studioactions/**/*.js

